<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    
    <a th:fragment="button(link, title)" th:href="${link}" th:text="${title}" class="btn btn-sm btn-info me-3">
    </a>
    
    <header th:fragment="header" style="box-shadow: 0px 14px 16px -5px rgba(125,125,125,0.68);">
        <div class="container pt-3">
            <div class="row">
                <div class="col-2">
                    <h2 class="text-red fw-bolder fs-2">SPRING OF PIZZA...</h2>

                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a a sec:authorize="hasAuthority('USER')" class="fs-5 fw-bolder pe-5 text-decoration-none text-black" th:href="@{/home}">PIZZAS</a>
                    <a sec:authorize="hasAuthority('ADMIN')" class="fs-5 fw-bolder pe-5 text-decoration-none text-black" th:href="@{/ingredients}">INGREDIENTS</a>
                    <a sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="fs-5 text-decoration-none text-white btn btn-sm btn-primary" th:href="@{/logout}">logout</a>
                </div>
            </div>
        </div>
    </header>
    
    <div th:fragment="back-to-home" class="mt-5 d-flex justify-content-end my-5">
        <a th:replace="fragments :: button(@{/}, 'Home')"></a>          
    </div>
    
    <div th:fragment="alertError(field)" class="alert alert-danger mt-1" th:if="${#fields.hasErrors(field)}">
        <ul class="m-0">
            <li th:each="err : ${#fields.errors(field)}" class="list-unstyled">
                [[${err}]]
            </li>
        </ul>    
    </div>
    
    <footer th:fragment="footer" class="d-flex justify-content-center mt-5 pt-5 border-top">
        <p><i class="fs-5">Created with love by Michel Ramirez </i></p>
    </footer>
      
</body>
</html>