<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />
    <title>Create an offert</title>
    <style>
        .wrapper {
            width: 500px;
            border: 1px solid black;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <header th:replace="fragments :: header"></header>

    <main class="container">

        <h1 class="text-center my-5">Create an new offert</h1>

        <form class="d-flex justify-content-center" th:object="${ingredient}" method="POST">
            
            <div class="wrapper">
                <div class="mb-3">
                    <label for="ingr-name" class="form-label">Ingredient name</label>
                    <input type="text" class="form-control" id="ingr-name" th:field="*{name}">
                    <div th:replace="fragments :: alertError('name')"></div>
                </div>             
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                
            </div>

        </form>

    </main>
    
     <footer th:fragment="footer" class="d-flex justify-content-center mt-5 pt-5">
        <p><i class="fs-5">Created with love by Michel Ramirez </i></p>
    </footer>
</body>

</html>